body{
    width: 100%;
    background-image: url(../images/backg.png);
    background-repeat: no-repeat;
    background-color: wheat;
}

.githublink{
    color: black;
    text-decoration: none;
}

.githublink:hover{
    transition: 0.5s;
    color: aqua;
}

.picbar {
    width: 1183px;
    height: 278px;
    background-color:rgb(187, 81, 81);
    margin: 25px auto;
}

.pica {
    /* display: block; */
    float: left;
    width: 230px;
    height: 278px;
    margin-right: 6.5px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

a:hover{
    transform: translateY(-30px);
}

.searchdiv{
    width: 650px;
    height: 50px;
}

.bdtext{
    padding: 0px 11px;
    width: 450px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}

.bdbtn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.bdbtn:hover{
    background-color: #000;
    color: aliceblue;
}

.nav{
    width: 1000px;
    height: 80px;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
}

.nav a{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.nav a:hover{
    color:aqua;
}

.butn{
    background-color:aliceblue;
    width: 150px;
    height: 30px;
    color: #000;
    transition: 0.5s;
}

.butn:hover{
    background-color: #000;
    color: aliceblue;
}

.playerbar{
    width: 800px;
    height: 190px;
}

.player{
    width: 390px;
    height: 190px;
    float: left;
}
.player_right{
    float: right;
}


